body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    margin: 0;
    overflow-x: hidden;
}

/* Main navbar and header css */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #344;
    padding: 1rem;
}

.logo {
    color: seashell;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    color: seashell;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.nav-link:hover {
    background: rgba(58, 192, 58, 0.596);
    color: seashell;
    border-radius: 10rem;
}

/* Project headings styles */

h1,h2,h3,h4 {
    color: #344;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.world-heading{
    color: seashell;
}

.world-text{
   color: seashell; 
   text-align: center;
}

/* chart styles */

#chartWrapper {
    text-align: center;
}

#pieWrapper {
    text-align: center;
}

#lineWrapper {
    text-align: right;
}

#treeWrapper {
    text-align: center;
}

.bitcoin {
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

/* family tree chart styles */
.node, circle {
    fill: #A3FDA1;
}

.nodeText {
    color: #343434;
    font-style: oblique;
    font-size: 0.9rem;
    font-weight: bolder;
}

.link {
    fill: none;
    stroke: #FDB7B7;
    stroke-opacity: 0.6;
    stroke-width: 0.3rem;
}

/*  world mapp styles */

.world-body {
    background: #344;
}

.worldWrapper {
    height: 100vh;
    width: 100%;
}

.spherePath {
    fill: rgba(113, 157, 252, 0.096);
}

.countryPath {
    stroke: rgb(235, 222, 213);
    stroke-width: 0.4;
    opacity: .8;
}

.countryPath:hover {
    opacity: 1;
    stroke: seashell;
    stroke-width: 0.8;
    cursor: pointer;
}