body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
    padding: 0;
    margin: 0;
}

/* Heading styles*/
.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }