body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.7;
    padding: 1rem;
    margin: 0;
    overflow-x: hidden;
}

/* family tree chart styles */
.node, circle {
    fill: #A3FDA1;
}

.nodeText {
    color: #343434;
    font-style: oblique;
    font-size: 0.9rem;
    font-weight: bolder;
}

.link {
    fill: none;
    stroke: #FDB7B7;
    stroke-opacity: 0.6;
    stroke-width: 0.3rem;
}